#airplane {
    width: 50em;
    /* height: 44.4em; */
    /* size: 30%; */
    position: fixed;
}

#radios {
    margin: auto;
    margin-top: 2em;
    width: 60%;
}

#formRow {
    margin-top: 5em;
}

.form-check-inline {
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.form-check-label {
    font-weight: 600;
}

.card-header {
    height: 4em;
    text-align: center;
    /* background-color: #044EA0; */
    /* F1726B */
    /* 8CD1F2 */
}

#card-header {
    margin-top: 3px;
    font-weight: 600;
    color: white;
}

#formNav {
    border-bottom: 1px solid #044EA0;
    padding-bottom: 1em;
}

.tripLabel {
    color: #F1726B;
}

.fromAndTo {
    margin-top: 2em;
}

.fromAndToHeader {
    color: #044EA0;
    font-weight: 700;
}